model_config_list {
    config {
        name: 'super_resolution'
        base_path: '/models/esrgan_super_resolution'
        model_platform: 'tensorflow'
    }
    config {
        name: 'stylization'
        base_path: '/models/magenta_image_stylization'
        model_platform: 'tensorflow'
    }
}